<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include header %>
  <link rel="stylesheet" type="text/css" href="/css/edit.css"/>
  <script type="text/javascript" src="/js/edit.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar menubar" id="menu">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <a class="navbar-brand logo" href="/">VWiC</a>
      </div>
      <div>
        <nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
          <ul class="nav navbar-nav navbar-left navstyle">
            <li><a href="/" class="page-scroll">Home</a></li>
            <li><a href="/story" class="page-scroll">Hall of fame</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right navstyle">
            <li><a href="/profile"><img width="30px" height="30px" src="<%=gender_img%>"></img>   <%=username%></a><li>
              <form method="GET" action="/logout">
                <li><button type="submit" class="btn btn-lg btn-primary fb navbar-btn"><span><i class="fa fa-facebook-square"></i></span> Log out</button></li>
              </form>
            </ul>
          </nav>
        </div>
      </div>
    </div> <!-- END SECTION NAVBAR -->
    <div class="container">
      <h3 class="edit-header">Creating a new hero story</h3>
      <div class="row">
        <section>
          <div class="wizard">
            <div class="wizard-inner">
              <div class="connecting-line"></div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                    <span class="round-tab">
                      <i class="fa fa-user"></i>
                    </span>
                  </a>
                </li>
                <li role="presentation" class="disabled">
                  <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                    <span class="round-tab">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                  </a>
                </li>
                <li role="presentation" class="disabled">
                  <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                    <span class="round-tab">
                      <i class="glyphicon glyphicon-picture"></i>
                    </span>
                  </a>
                </li>
                <li role="presentation" class="disabled">
                  <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                    <span class="round-tab">
                      <i class="glyphicon glyphicon-ok"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>

            <form name="createStory" method="post" action="/story/new">
              <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="step1">
                  <div class="edit-form">
                    <h2 class="edit-label">About the hero: </h2>
                    <!-- <form name="step1-form" role="form" data-toggle="validator"> -->
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="hero" class="col-sm-2 control-label">Hero Name:</label>
                        <div class="col-sm-10">
                          <input type="text" name="subject" class="form-control" placeholder="For example, Duy Loan Le" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="subject_img" class="col-sm-2 control-label">Hero Image:</label>
                        <div class="col-sm-10">
                          <input type="url" name="subject_img" class="form-control" placeholder="Please enter URL of image">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="headline" class="col-sm-2 control-label">Headline:</label>
                        <div class="col-sm-10">
                          <input type="text" name="headline" class="form-control" placeholder="For example, 'The first and only female senior engineer of Texas Instrument'" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="twitterAcc" class="col-sm-2 control-label">Twitter handle:</label>
                        <div class="col-sm-10">
                          <input type="text" name="twitterAcc" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" name="twitterAcc" placeholder="Twitter handler only: @VWiC">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="facebookAcc" class="col-sm-2 control-label">Facebook:</label>
                        <div class="col-sm-10">
                          <input type="text" name="facebookAcc" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" placeholder="Facebook name www.facebook.com/{your-facebook id-here}">
                        </div>
                      </div>
                    </div>
                    <!-- </form> -->
                  </div>
                  <ul class="list-inline pull-right">
                    <li><button class="edit-form btn next-step">Save and continue</button></li>
                  </ul>
                </div>

                <div class="tab-pane" role="tabpanel" id="step2">
                  <div class="edit-form-2">
                    <h2 class="edit-label">How the hero inspired you: </h2>
                    <!-- <form id="step2-form"> -->
                    <textarea name="content" class="form-control" rows="12" placeholder="Place content here" required></textarea>
                    <!-- </form> -->
                  </div>
                  <ul class="list-inline pull-right">
                    <!-- <li><button type="button" class="btn btn-default prev-step">Previous</button></li> -->
                    <li><button type="button" class="edit-form btn btn-default prev-step">Previous</button></li>
                    <li><button type="button" class="edit-form btn next-step">Save and continue</button></li>
                  </ul>
                </div>


                <!--STEP 3 -->
                <div class="tab-pane" role="tabpanel" id="step3">
                  <!-- <form id="step3-form" class="edit-form"> -->
                  <h2 class="edit-label">More resources (articles and images,): </h2>
                  <p>Articles: (Please paste paragraphs you want to quote and the URL of the article referenced)</p>

                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="quote1" class="col-sm-2 control-label">Quote 1:</label>
                      <div class="col-sm-10">
                        <input type="text" name="quote1" class="form-control" id="quote1" placeholder="For example, 'She is an inspiration to the young generation'" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="src1" class="col-sm-2 control-label">Source 1:</label>
                      <div class="col-sm-10">
                        <input type="url" name="src1" class="form-control" id="src1" placeholder="For example, 'http://nytimes.com'">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="quote2" class="col-sm-2 control-label">Quote 2:</label>
                      <div class="col-sm-10">
                        <input type="text" name="quote2" class="form-control" id="quote2" placeholder="For example, 'The first and only female senior engineer of Texas Instrument'" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="src2" class="col-sm-2 control-label">Source 2:</label>
                      <div class="col-sm-10">
                        <input type="url" name="src2" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="src2" placeholder="For example, 'http://medium.com'">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="quote3" class="col-sm-2 control-label">Quote 3:</label>
                    <div class="col-sm-10">
                      <input type="text" name="quote3" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="quote3" placeholder="">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="src3" class="col-sm-2 control-label">Source 3:</label>
                    <div class="col-sm-10">
                      <input type="url" name="src2" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="src2" placeholder="">
                    </div>
                  </div>

                  <p>Images: (Please paste the URL of the image you want to attach to your post)</p>

                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="img1" class="col-sm-2 control-label">Image 1:</label>
                      <div class="col-sm-10">
                        <input type="url" name="img1" class="form-control" id="img1" placeholder="For example, http://sophiango-image.jpg" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="cap1" class="col-sm-2 control-label">Caption 1:</label>
                      <div class="col-sm-10">
                        <input type="text" name="cap1" class="form-control" id="cap1" placeholder="For example, 'Image of Sophia and Duy Loan Le at GHC15'">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="img2" class="col-sm-2 control-label">Image 2:</label>
                      <div class="col-sm-10">
                        <input type="url" name="img2" class="form-control" id="img2" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="cap2" class="col-sm-2 control-label">Caption 2:</label>
                      <div class="col-sm-10">
                        <input type="text" name="cap2" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" name="cap2" placeholder="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="img3" class="col-sm-2 control-label">Image 3:</label>
                      <div class="col-sm-10">
                        <input type="url" name="img3" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="img3" placeholder="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="cap3" class="col-sm-2 control-label">Caption 3:</label>
                      <div class="col-sm-10">
                        <input type="text" name="cap3" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="cap3" placeholder="">
                      </div>
                    </div>
                  </div>

                  <!-- </form> -->
                  <ul class="list-inline pull-right">
                    <li><button type="button" class="edit-form btn btn-default prev-step">Previous</button></li>
                    <!-- <li><button type="button" class="edit-form btn btn-default next-step">Skip</button></li> -->
                    <li><button type="submit" class="edit-form btn next-step">Publish</button></li>
                  </ul>
                </div><!-- END STEP 3 -->
              </div>


              <div class="tab-pane" role="tabpanel" id="complete">
                <form name="view-story" method="get" action="/story">
                  <div class="edit-form-complete">
                    <p>Thank you for sharing your hero story!</p>
                  </div>
                  <ul class="list-inline pull-right">
                    <li><button type="submit" class="edit-form btn">View story</button></li>
                  </ul>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript">
    jQuery().ready(function() {

      var v = jQuery("#createStory").validate({
          rules: {
            uname: {
              required: true,
              minlength: 2,
              maxlength: 16
            },
            uemail: {
              required: true,
              minlength: 2,
              email: true,
              maxlength: 100,
            },
            upass1: {
              required: true,
              minlength: 6,
              maxlength: 15,
            },
            upass2: {
              required: true,
              minlength: 6,
              equalTo: "#upass1",
            }

          },
          errorElement: "span",
          errorClass: "help-inline",
        });

    });
    </script>
  </body>
  </html>
