<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VWiC - Vietnamese Women in Computing</title>
  <link rel="stylesheet" type="text/css" href="/css/edit.css"/>
  <link rel="stylesheet" type="text/css" href="/css/story.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,700,200,100,300,500,600,800,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,700italic,900,400italic,300italic" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/js/jquery.sticky.js"></script>
  <script type="text/javascript" src="/js/edit.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
</head>
<body>
  <div class="container">
      <div>
        <% stories.forEach(function(story) { %>
          <h1><%=story.subject%></h1>
          <h2><%=story.headline%></h2>
        <% }); %>
        <button>View more</button>
      </div>
  </div>
</body>
</html>
